@page
@model RVPark.Pages.Client.Contact.IndexModel
@{
}
<div class="text-center">
<h1 class="fw-bold">Contact Us</h1>
</div>
<br />
<div class="text-center pd-4">
	<h3>Phone: 702-643-3060</h3>
	<h3>Email: deserteaglervnellis@gmail.com</h3>
	<h3>Office Hours</h3>
	<h3>Mon - Sun: 8:30 AM - 5 PM</h3>
	<h3>Check-in: 12:00 PM</h3>
	<h3>Check-out: 11:00 AM</h3>
	<h3>Closed On All Holidays</h3>
	<h3>Address: 4907 Fam Camp Drive, Bldg. 2889 </h3>
</div>