@page
@model RVPark.Pages.AboutModel
@{
    ViewData["Title"] = "About Our Project & Team";
}

<div class="card m-4">
    <h1 class="card-header py-4 text-center">About the Desert Eagle RV Park Project</h1>

    <div class="card-body">
        <div class="m-4">
            <p class="lead text-center">
                Welcome to the Nellis Air Force Base Desert Eagle RV Park management system project.
                Our goal is to create a robust, user-friendly application to streamline the operations of the RV park,
                enhance the experience for its valued guests, and provide efficient tools for staff.
            </p>
            <p>
                This project focuses on key functionalities such as:
            </p>
            <ul>
                <li>
                    <strong>Online Reservations:</strong> Allowing guests to easily view availability and book sites.
                </li>
                <li>
                    <strong>Site Management:</strong> Enabling staff to manage site details, availability, and pricing.
                </li>
                <li><strong>Guest Management:</strong> Maintaining guest information and history.</li>
                <li>
                    <strong>Transaction & Reporting:</strong> Tracking payments, refunds, and generating operational
                    reports.
                </li>
                <li>
                    <strong>User Role Management:</strong> Providing secure access for different user roles (Admin,
                    Staff, Client, etc.).
                </li>
            </ul>
            <p>
                Our aim is to support the Nellis AFB Desert Eagle RV Park in providing an exceptional "home away from
                home"
                for military personnel, veterans, and their families.
            </p>
        </div>
    </div>

    <div class="card mx-4">

        <h2 class="card-header py-4 text-center">Wildcat Bitstorm</h2>

        <div class="card-body">

            <div class="row my-3">

                <div class="col-md-2 offset-md-1">
                    <a href="https://github.com/Wildcat-Bitstorm" target="_blank" rel="noopener noreferrer">
                        <img src="https://avatars.githubusercontent.com/u/240460315"
                             class="rounded offset-md-1 img-fluid shadow" alt="Wildcat Bitstorm Logo">
                    </a>
                </div>
                <div class="col-md-8">
                    <p>
                        We are Wildcat Bitstorm, a team of ten Weber State students dedicated to teamwork, innovation, and hands-on development.
                        Driven by our motto, “Bit Bit Hooray!”, we blend technical skill with enthusiasm to build meaningful digital experiences.
                    </p>
                    <p class="alert alert-primary">
                        Find us, our work, and more on
                        <a href="https://github.com/Wildcat-Bitstorm" target="_blank" rel="noopener noreferrer"> our Github Page</a>.
                    </p>
                </div>

            </div>
            <div class="row text-center">

                <!-- Team Member Isaac Christensen -->
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <img src="https://avatars.githubusercontent.com/u/123215031"
                                 class="rounded-circle mb-2 img-fluid w-25 shadow" alt="Isaac's Photo">
                            <h4 class="font-weight-bold">Isaac Christensen </h4>
                            <p class="text-muted">
                                Project Lead / Customer Team: Backend Developer
                            </p>
                            <p>
                                Isaac is a team player and leader who ensured effective communication and collaboration among team members, 
                                along with contributing to a scalable backend architecture.
                            </p>
                            <p>
                                <a href="https://www.linkedin.com/in/isaac-christensen" target="_blank"
                                   rel="noopener noreferrer">
                                    LinkedIn Profile
                                </a>
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Team Member Abigayle Del Valle -->
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <img src="https://avatars.githubusercontent.com/u/100237539"
                                 class="rounded-circle mb-2 img-fluid w-25 shadow" alt="Abigayle Del Valle's Photo">
                            <h4 class="font-weight-bold">Abigayle Del Valle </h4>
                            <p class="text-muted">
                                Admin Team: Frontend Developer
                            </p>
                            <p>
                                Abbie is passionate about creating efficient systems. She focused on database design
                                and frontend stylization for this project.
                            </p>
                            <p>
                                <a href="https://www.linkedin.com/in/abigayle-del-valle-890b51387/" target="_blank"
                                   rel="noopener noreferrer">
                                    LinkedIn Profile
                                </a>
                            </p>
                        </div>
                    </div>
                </div>


                <!-- Team Member Arla Contreras -->
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <img src="https://avatars.githubusercontent.com/u/112451435"
                                 class="rounded-circle mb-2 img-fluid w-25 shadow" alt="Arla Contreras' Photo">
                            <h4 class="font-weight-bold">Arla Contreras</h4>
                            <p class="text-muted">
                                Customer Team: Frontend Developer / UI/UX
                            </p>
                            <p>
                                Arla enhanced the user interface, ensuring a seamless and consistent experience for all
                                users of the RV Park management system.
                            </p>
                            <p>
                                <a href="https://www.linkedin.com/in/arla-contreras/" target="_blank"
                                   rel="noopener noreferrer">
                                    LinkedIn Profile
                                </a>
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Team Member Bailey -->
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <img src="https://avatars.githubusercontent.com/u/147222523"
                                 class="rounded-circle mb-2 img-fluid w-25 shadow" alt="Bailey's Photo">
                            <h4 class="font-weight-bold">Bailey Holt</h4>
                            <p class="text-muted">
                                Admin Team: Frontend Developer
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Team Member Christian -->
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body text-center">
                            <img src="https://avatars.githubusercontent.com/u/152244559"
                                 class="rounded-circle mb-3 shadow"
                                 style="width: 100px; height: 100px; object-fit: cover;"
                                 alt="Christian's Photo">
                            <h4 class="font-weight-bold">Christian Martin</h4>
                            <p class="text-muted">
                                Admin Team: Frontend/Backend Developer<br>
                                Responsible For Dynamic Fields and Fees<br>
                                <a href="https://www.linkedin.com/in/christian-alan-martin/">LinkedIn Profile</a><br>
                                <a href="https://christian-martin.org">Personal Site</a>
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Team Member Ian -->
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <img src="https://avatars.githubusercontent.com/u/145357821"
                                 class="rounded-circle mb-2 img-fluid w-25 shadow" alt="Ian's Photo">
                            <h4 class="font-weight-bold">Ian Nicholson</h4>
                            <p class="text-muted">
                                Admin Team: Backend Developer
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Team Member Kawther -->
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <img src="https://avatars.githubusercontent.com/u/97922046"
                                 class="rounded-circle mb-2 img-fluid w-25 shadow" alt="Kawther's Photo">
                            <h4 class="font-weight-bold">Kawther Alsayhati</h4>
                            <p class="text-muted">
                                Customer Team: Frontend Developer
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Team Member Matt -->
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <img src="https://avatars.githubusercontent.com/u/22527063"
                                 class="rounded-circle mb-2 img-fluid w-25 shadow" alt="Matt's Photo">
                            <h4 class="font-weight-bold">Matthew Roundy</h4>
                            <p class="text-muted">Customer Team: Frontend/Backend Developer</p>
                            <p>Matt is a driven programmer who enjoys creating functional, accessible software. He focused on communicating with teammates and making the website more intuitive.</p>
                            <a href="https://www.linkedin.com/in/matthew-roundy-b28905393/">LinkedIn Profile</a>
                        </div>
                    </div>
                </div>

                <!-- Team Member Quintin -->
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <img src="https://placehold.co/150x150/b0e0e6/2a52be?text=QW"
                                 class="rounded-circle mb-2 img-fluid w-25 shadow" alt="Quintin's Photo">
                            <h4 class="font-weight-bold">Quintin Wood</h4>
                            <p class="text-muted">
                                Customer Team: Backend Developer
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Team Member Yugene -->
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <img src="https://avatars.githubusercontent.com/u/114205796"
                                 class="rounded-circle mb-2 img-fluid w-25 shadow" alt="Yugene's Photo">
                            <h4 class="font-weight-bold">Yugene Lee</h4>
                            <p class="text-muted">
                                Version Control Manager / Admin Team: Frontend Developer
                            </p>
                            <p>
                                <a href="https://www.linkedin.com/in/the-yugene-lee/" target="_blank"
                                   rel="noopener noreferrer">
                                    LinkedIn Profile
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="card mx-4">

        <h2 class="card-header py-4 text-center">Special Thanks</h2>

        <div class="card-body">

            <p class="text-center"> This section is dedicated to those who helped get this project off the ground. </p>

            <div class="row text-center">

                <!-- Team Member Pauline Morse -->
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <img src="https://media.licdn.com/dms/image/v2/D5603AQGKgD_s7yJxFA/profile-displayphoto-scale_200_200/B56ZiVzxYkHcAc-/0/1754860034394?e=1757548800&v=beta&t=5Vw47OkxKV-cb-hHYsaL7IkuIgMN9w_vCNZWcnZ-wvk"
                                 onerror="this.onerror=null; this.src='https://placehold.co/150x150/b0e0e6/2a52be?text=PM'"
                                 class="rounded-circle mb-2 img-fluid w-25 shadow" alt="Pauline Morse Photo">
                            <h4 class="font-weight-bold">Pauline Morse</h4>
                            <p class="text-muted">Frontend Developer / UI/UX Designer</p>
                            <p>
                                Pauline crafted the original user interface
                                ensuring a seamless and intuitive experience for all users.
                            </p>
                            <p>
                                <a href="https://www.linkedin.com/in/pauline-morse-179300361/" target="_blank"
                                   rel="noopener noreferrer">LinkedIn Profile</a>
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Professor Fry -->
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <img src="https://avatars.githubusercontent.com/u/11755483"
                                 class="rounded-circle mb-2 img-fluid w-25 shadow" alt="Photo of Dr. Fry">
                            <h4 class="font-weight-bold">Dr. Richard Fry</h4>
                            <p class="text-muted">Product Owner</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

@section Scripts {

}